{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
   <div class="wrapper">
    <h1 class="page-header">
        J-Chat
    </h1>
        <div class="control-box">
            <a href="{% url 'personal' %}" class="single-box">
                Personal Chat
            </a>
            <a href="#" class="single-box">
                Group Chat
            </a>
        </div>
   </div>
</body>
</html>